h1 {
	color: rgb(2, 132, 130);
	text-align: center;
}
h2 {
	text-align: center;
	color: #ffd700}
p {
	text-align: center;
}

nav {
	background-color: #808080;
}

a {
	text-decoration: none;
	color: white;
	background-color: #ffbf00;
	display: block;
	float: left;
	padding: 35px;
}

a:hover {
	background-color: #ee5f3c;
}

.board {
height: 50%;
width: 50%;
display: inline-block;

}

.card {
height: 200px;
width: 150px;
border-style: solid;
border-width: 1px;
background-color: #FFFF00;
border-radius: 10px; 
float: left;
margin: 8%;
}

.name {
	color: #ff0000;
}

.clearfix:after {
	visibility: hidden;
    display: block;
	content: " ";
    clear: both;
    height: 0;
	font-size: 0;
}



footer {
	background-color: #808080;
	text-align: center;
}